<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <body>
        <header>
            <h1>
                <a href="">Le papyrus Prisse - Un recueil de sagesse de l'Égypte ancienne</a>
            </h1>
        </header>
        <main>
            <div class="loader"/>
            <div class="result">
                <a data-template="app:getVerse"/>
            </div>
            <div id="helpButton">
                <button class="helpButton">
                    <i class="bi bi-info-circle"/>
                </button>
            </div>
            <div class="modal">
                <div class="modalContent">
                    <div class="modalHeader">
                        <h2>How to use</h2>
                        <button class="closeModal">
                            <i class="bi bi-x"/>
                        </button>
                    </div>
                    <div class="modalBody">
                        <!--<div class="modalPart">
                            <p>Before specifying the parameters below, please add a question mark at the end of the URL of the current page.</p>
                        </div>-->
                        <div class="modalPart">
                            <h3>Select the verses</h3>
                            <ul>
                                <li>To select a verse, enter its number after <i>verses=</i> at the end of the URL of the current page.</li>
                                <li>To select several non-consecutive verses, enter their numbers separated by an underscore _ after <i>verses=</i> at the end of the URL of the current page.</li>
                                <li>To select several consecutive verses, enter their numbers separated by a pipe | after <i>verses=</i> at the end of the URL of the current page.</li>
                            </ul>
                        </div>
                        <div class="modalPart">
                            <h3>Select format</h3>
                            <ul>
                                <li>To select the hieroglyphic transcription, specify <i>h</i> after <i>type=</i> at the end of the URL of the current page.</li>
                                <li>To select the <i>Manuel de codage</i> transcription, specify <i>mdc</i> after <i>type=</i> at the end of the URL of the current page.</li>
                                <li>To select transliteration, specify <i>e</i> after <i>type=</i> at the end of the URL of the current page.</li>
                            </ul>
                            <p>To select several of these formats, separate the <i>h</i>, <i>mdc</i> and <i>e</i> values with a pipe |.</p>
                        </div>
                        <div class="modalPart">
                            <h3>Select language</h3>
                            <ul>
                                <li>To select the French translation, specify <i>fr</i> after <i>lang=</i> at the end of the URL of the current page.</li>
                                <li>To select the English translation, specify <i>en</i> after <i>lang=</i> at the end of the URL of the current page.</li>
                                <li>To select the Arabic translation, specify <i>ar</i> after <i>lang=</i> at the end of the URL of the current page.</li>
                            </ul>
                            <p>To select several of these translations, separate the <i>fr</i>, <i>en</i> and <i>ar</i> values with a pipe |.</p>
                        </div>
                        <div class="modalPart">
                            <p>To combine these parameters, separate <i>verses=</i>, <i>type=</i> and <i>lang=</i> with an ampersand &amp;.</p>
                            <p>Example: <a href="https://www.tns-pdsc.com/exist/apps/pprisse/getVerse.html?verses=G1|G5&amp;type=h|mdc|e&amp;lang=fr|en|ar" target="_blank">https://www.tns-pdsc.com/exist/apps/pprisse/getVerse.html?verses=G1|G5&amp;type=h|mdc|e&amp;lang=fr|en|ar</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
    <script src="resources/js/getVerse.js"/>
</div>