<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <body>
        <header>
            <h1 data-template="app:title"/>
            <div class="dropdown">
                <button class="languageButton">
                    <img class="languageIcon" src="resources/images/icons_language/flag_fr.png" alt="fr"/>
                    <i class="bi bi-caret-down-fill"/>
                </button>
                <a data-template="app:languageButtons"/>
            </div>
        </header>
        <aside class="sidebar sidebarLeft">
            <div class="sidebarIcons">
                <button class="openSidebar sidebarLeftButton">
                    <i class="bi bi-list"/>
                </button>
                <button class="infoButton">
                    <i class="bi bi-info-circle"/>
                </button>
                <button class="playButton">
                    <i class="bi bi-play-circle"/>
                </button>
                <button class="restartAudioButton">
                    <i class="bi bi-arrow-counterclockwise"/>
                </button>
                <a data-template="app:translationButton"/>
                <a data-template="app:transliterationButton"/>
                <a data-template="app:hieroglyphButton"/>
            </div>
            <div class="sidebarContainer">
                <div class="sidebarContent">
                    <a data-template="app:presentationButtons"/>
                </div>
            </div>
        </aside>
        <aside class="sidebar sidebarRight">
            <div class="sidebarIcons">
                <button class="openSidebar sidebarRightButton">
                    <i class="bi bi-list"/>
                </button>
                <div class="links">
                    <a class="linkSearchPage" href="./verse" target="_blank">
                        <i class="bi bi-search"/>
                    </a>
                    <a class="linkGitLab" href="https://gitlab.huma-num.fr/nsouchon/papyrus-prisse" target="_blank">
                        <img class="logoGitLab" src="resources/images/logo_Huma-Num/logo_GitLab.png" alt="logo_GitLab"/>
                    </a>
                </div>
            </div>
            <div class="sidebarContainer">
                <div data-template="app:rightSidebar"/>
            </div>
        </aside>
        <main>
            <div class="loader"/>
            <div class="orientation">
                <img src="resources/images/rotateScreen.png" alt="rotateScreenGIF"/>
                <a data-template="app:rotateScreen"/>
            </div>
            <audio id="audio">
                <source src="data/audio/2022_pPrisse_Audio.ogg" type="audio/ogg"/>
                <source src="data/audio/2022_pPrisse_Audio.mp3" type="audio/mpeg"/>
            </audio>
            <div id="presentation">
                <a data-template="app:presentation"/>
            </div>
            <div id="translation">
                <div data-template="lib:include" data-template-path="templates/tableOfContents.html"/>
                <div id="textSwiper" class="swiper swiper-initialized swiper-vertical swiper-pointer-events">
                    <div class="swiper-wrapper">
                        <div data-template="app:translation"/>
                    </div>
                    <div class="swiper-pagination"/>
                </div>
            </div>
            <div id="viewer"/>
            <div id="navigatorContainer">
                <div id="navigator"/>
            </div>
        </main>
        <script src="resources/js/PlatesGeometry.js"/>
        <script src="resources/js/viewer.js"/>
        <script src="resources/js/zonesDefinitions.js"/>
        <script src="resources/js/zones.js"/>
        <script src="resources/js/papyrusAsJSObject.js"/>
        <script src="resources/js/intro.js"/>
        <script src="resources/js/app.js"/>
    </body>
</div>